.app{
  background-color: white;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
}
body{
  background-color: #62c2c8;
}
.crossed{
  text-decoration: line-through 2px red;
  background-color: #f0f0f0;
}
ul,li{
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-family:'Montserrat', sans-serif;
}
h1{
  font-family: 'Montserrat', sans-serif;
}
.container{
  display: flex;
  justify-content: center;
}
.add{
  margin-top: 5px;
  background-color: #65aa06;
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif ;
}
.delete{
  background-color: #d30100;
  padding: 10px;
  border: none;
  width: 70%;
  margin-bottom: 5px;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
input{
  flex: 1;
  padding: 8px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
}
img{
  border-radius: 50%;
  
}